{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12 inscription-panel">
            <div class="row justify-content-center">
                <h3 class="display-6">Votre métier se transforme</h2>
            </div>
            <div class="row justify-content-center">
                <h2 class="display-6">Devenez acteur de votre mobilité professionnelle</h1>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-danger" href="{{ path('fos_user_registration_register') }}">Inscrivez-vous</a>
            </div>
        </div>
    </div>

    <div class="row intro-content">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h3>Avançons ensemble sur votre projet professionnel</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2 ">
                    <p>Faire le point sur votre parcours</p>
                </div>
                <div class="col-2 offset-1">
                    <p>Définir le plan d'action</p>
                </div>
                <div class="col-2 offset-1">
                    <p>Réussir votre transition professionnelle</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row temoignage">
        <div class="col-12">
            <div class="row temoignage-header">
                <h3>Les témoignages</h3>
            </div>
            <div class="row temoignage-content">
                <div class="col-5">
                   <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p> Après le bac j’ai obtenu un BTS orienté vente et négociation. Je voulais rapidement travailler et gagner ma vie. J’ai trouvé une mission dans un labor </p>
                            <footer class="blockquote-footer">Carole P.</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-5 offset-1">
                    <div class="card">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                <p> Après le bac j’ai obtenu un BTS orienté vente et négociation. Je voulais rapidement travailler et gagner ma vie. J’ai trouvé une mission dans un labor </p>
                                <footer class="blockquote-footer">Carole P.</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
            </div>
    
{% endblock %}