<!DOCTYPE html>
<html class="no-js home ui-state-init" xml:lang="fr" lang="fr"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Accueil - Reconversion Pro</title>

    <link rel="icon" type="image/png" href="http://alternativespro.fr/bundles/projectpresentation/images/favicon-16x16.png?v1_0_0">
    <link rel="apple-touch-icon" href="http://alternativespro.fr/bundles/projectpresentation/images/favicon-64x64.png?v1_0_0" sizes="64x64">
    <meta name="viewport" content="initial-scale=1">
    
                <link href="css/css.css" rel="stylesheet" type="text/css">
<link type="text/css" href="css/select2.css" rel="stylesheet">
<link rel="stylesheet" href="css/colorbox.css" type="text/css" media="all">
<link rel="stylesheet" href="css/main.css" type="text/css" media="all">


<link rel="stylesheet" href="css/cookiecuttr.css">     
    
</head>

<body>
<div id="content">
        

      
<header class="header" id="page-header">
    <div class="content-wrap">
        <h1 class="image-text home">Reconversion Pro</h1>
        
        
    
    <nav>
    <ul>
            <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/notre-demarche">Notre démarche</a></li>
            <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/les-etapes">Les étapes</a></li>
            <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/temoignages">Témoignages</a></li>
            <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/faq">FAQ</a></li>
            <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/liens-utiles">Liens utiles</a></li>
            <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/contact">Contact</a></li>
    
    <li class="user-action">    <a href="http://alternativespro.fr/connexion" class="round-btn fill-btn">Connexion</a>
    </li>
    </ul>
    </nav>
    
    </div>
</header>
      
            <div class="bandeau-top page-content" style="background-image: url(/bundles/projectpresentation/images/bandeau/visuel-bandeau-top.jpg?v1_0_0);background-color: #407491;">
    
        <div class="bandeau-text">
                                <div class="top-content">
        <p>votre métier se transforme<br>
                <b>Devenez acteur de votre mobilité professionnelle</b></p>
<p class="register-link"><a href="http://alternativespro.fr/inscription" class="round-btn focus-btn">Inscrivez-vous</a></p>        </div>
                    </div>
    
</div>                                
    <main role="main" class="main">
            <div class="content-wrap">
        <section class="project">
<h2>Avançons ensemble sur votre projet professionnel</h2>

<ul class="steps">
  <li class="step-parcours">
Faire le point<br>sur votre parcours</li>
<li class="step-plan">
Définir le<br>plan d’action</li>
<li class="step-transition">
Réussir votre transition<br>professionnelle</li>
</ul>
</section>
            
        
        </div>
    
        <section class="testimony">
        <div class="content-wrap">
    
    
<h2>Les témoignages</h2>

<ul class="home-testimony-list">
    <li class="home-item">
            <figure class="home-testimony-visuel"><img src="images/101.jpg" alt="P."></figure>
    	
    <div class="home-item-content">
        <blockquote>
                Après le bac j’ai obtenu un BTS orienté vente et 
négociation. Je voulais rapidement travailler et gagner ma vie. J’ai 
trouvé une mission dans un labor                </blockquote>

        <p class="author">
                    Carole
                        P.
                </p>
    </div>
    </li>
    <li class="home-item">
            <figure class="home-testimony-visuel"><img src="images/171.jpg" alt="R."></figure>
    	
    <div class="home-item-content">
        <blockquote>
                Après une licence scientifique générale, je voulais 
intégrer la vie professionnelle. J’ai pensé que la visite médicale me 
conviendrait et pendant quel                </blockquote>

        <p class="author">
                    Vincent
                        R.
                </p>
    </div>
    </li>
</ul>

<p class="block-action"><a href="http://alternativespro.fr/temoignages" class="border-btn round-btn light-btn">Autres témoignages</a></p>
        </div>
    </section>
        
    
            <section class="contact">
<div class="content-wrap">
<h2>Poser votre question</h2>
<form action="/emailing" method="post">
  <div class="interactive-label">
      <label for="project_appli_emailing_email" class="required">Votre email</label>
      <input id="project_appli_emailing_email" name="project_appli_emailing[email]" required="required" class="form-control hide-label" type="text">                
  </div>
  <div class="interactive-label">
      <label for="project_appli_emailing_object" class="required">Objet</label>
      <textarea id="project_appli_emailing_object" name="project_appli_emailing[object]" required="required" class="form-control hide-label"></textarea>                
  </div>
  <p class="action"><input id="submit" name="submit" value="Envoyer" class="round-btn" type="submit"></p>
  <input id="project_appli_emailing__token" name="project_appli_emailing[_token]" value="zcMN75WdMz7AJkLeqRNKhGMvY1msgeGFg7XAXO5L1qo" type="hidden">
</form>
</div>
</section>        
                
        
    </main>
        
                    


<footer class="footer">
<div class="content-wrap clearfix">
<p class="upmc-block"><a href="http://www.fc.upmc.fr/fr/index.html" class="image-text upmc" target="_blank">UPMC</a> <a class="image-text upmc-formation" href="http://www.fc.upmc.fr/fr/index.html" target="_blank">UPMC Formation continue</a></p>
<p class="ml">UPMC - Formation continue / I.dC / 2015 <a href="http://alternativespro.fr/mentions-legales">Mentions légales</a></p>
<p class="rf-block"><a href="" class="image-text rf" target="_blank">République française</a></p>
</div>
</footer>        </div>
            
    <script src="javascript/jquery_005.js"></script>
    
            <script type="text/javascript" src="javascript/jquery.js"></script>
        <script type="text/javascript" src="javascript/jquery_002.js"></script>
            
        
     <script src="css/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="javascript/jquery-ui.js"></script>
     <script type="text/javascript" src="javascript/jquery_004.js"></script>    <script type="text/javascript" src="css/select2.js"></script>
    <script type="text/javascript" src="javascript/jquery_003.js"></script>
    <script type="text/javascript" src="javascript/replace.js"></script>
    <script type="text/javascript" src="javascript/notification.js"></script>
    <script type="text/javascript" src="javascript/diary.js"></script>
    <script type="text/javascript" src="javascript/position.js"></script>
    <script type="text/javascript" src="javascript/main.js"></script>    



<div style="display: none;" id="cboxOverlay"></div><div style="display: none;" tabindex="-1" role="dialog" class="" id="colorbox"><div id="cboxWrapper"><div><div style="float: left;" id="cboxTopLeft"></div><div style="float: left;" id="cboxTopCenter"></div><div style="float: left;" id="cboxTopRight"></div></div><div style="clear: left;"><div style="float: left;" id="cboxMiddleLeft"></div><div style="float: left;" id="cboxContent"><div style="float: left;" id="cboxTitle"></div><div style="float: left;" id="cboxCurrent"></div><button id="cboxPrevious" type="button"></button><button id="cboxNext" type="button"></button><button id="cboxSlideshow"></button><div style="float: left;" id="cboxLoadingOverlay"></div><div style="float: left;" id="cboxLoadingGraphic"></div></div><div style="float: left;" id="cboxMiddleRight"></div></div><div style="clear: left;"><div style="float: left;" id="cboxBottomLeft"></div><div style="float: left;" id="cboxBottomCenter"></div><div style="float: left;" id="cboxBottomRight"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div></body></html>