<!DOCTYPE html>
<html class="no-js home ui-state-init" xml:lang="fr" lang="fr">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>Accueil - Reconversion Pro</title>
<link rel="icon" type="image/png" href="http://alternativespro.fr/bundles/projectpresentation/images/favicon-16x16.png?v1_0_0">
<link rel="apple-touch-icon" href="http://alternativespro.fr/bundles/projectpresentation/images/favicon-64x64.png?v1_0_0" sizes="64x64">
<meta name="viewport" content="initial-scale=1">
<link href="css/css.css" rel="stylesheet" type="text/css">
<link type="text/css" href="css/select2.css" rel="stylesheet">
<link rel="stylesheet" href="css/colorbox.css" type="text/css" media="all">
<link rel="stylesheet" href="css/main.css" type="text/css" media="all">
<link rel="stylesheet" href="css/cookiecuttr.css">
</head>

<body>
<div id="content">
  <header class="header" id="page-header">
    <div class="content-wrap">
      <h1 class="image-text home">Reconversion Pro</h1>
      <nav>
        <ul>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/notre-demarche">Notre démarche</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/les-etapes">Les étapes</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/temoignages">Témoignages</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/faq">FAQ</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/liens-utiles">Liens utiles</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/contact">Contact</a></li>
          <li class="user-action"> <a href="http://alternativespro.fr/connexion" class="round-btn fill-btn">Connexion</a> </li>
        </ul>
      </nav>
    </div>
  </header>
  <nav class="subnav">
    <ul class="content-wrap">
      <li class="accueil ui-state-active"> <a href="/visiteur">Mon accueil</a> </li>
      <li class="library"> <a href="/visiteur/bibliotheque">Ma bibliothèque</a> </li>
      <li class="agenda"> <a href="/visiteur/agenda">Mon agenda</a> </li>
      <li class="messagerie"> <a href="/visiteur/messagerie/messages-recus">Ma messagerie <i>1</i></a> </li>
      <li class="notifications"> <a href="/visiteur/visiteur-notifications">Mes notifications <i>7</i></a> </li>
      <li class="personal"> <a href="/visiteur/informations-personnelles">Mes informations</a> </li>
    </ul>
  </nav>
  <main role="main" class="main">
    <div class="action-messagerie">
      <ul class="content-wrap">
        <li class="message-new"><a href="/visiteur/nouveau-message">Nouveau message</a></li>
        <a href="/visiteur/messagerie/messages-recus">Boite de réception <i>(1)</i></a> <a href="/visiteur/messagerie/messages-envoyes">Messages envoyés <i>(0)</i></a>
      </ul>
    </div>
    <div class="content-wrap wrap-messagerie" id="message-list-block">
      <table class="list-messagerie">
        <tbody>
          <tr class="read">
            <td class="expeditor"> Coco BELOEIL </td>
            <td class="subject"><a href="/visiteur/afficher-message/2"> bienvenu sur notre site d'accompagnement </a></td>
            <td class="date"> 05 Feb - 15h09 </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="list-pagination">
      <div class="content-wrap">
        <div class="page-block"> <span class="message-count">1 message</span> </div>
      </div>
    </div>
    <div class="content-wrap message-detail" id="message-detail-block">
      <h2>bienvenu sur notre site d'accompagnement</h2>
      <div class="message-meta">
        <p> <b>Coco BELOEIL</b> le 05/02/2016 à 03h09</p>
        <p>À : moi</p>
      </div>
      <div class="message-content"> vous avez pris un rdv avec Coco BELOEIL </div>
      <div class="message-reply">
        <h2>Re : bienvenu sur notre site d'accompagnement</h2>
      </div>
      <form action="/visiteur/modifier-message-reponse/2" method="post">
        <fieldset class="reply-block">
          <p class="reply-to"><span class="reply-btn">Coco BELOEIL</span></p>
          <p class="reply-content">
            <textarea id="project_appli_message_content" name="project_appli_message[content]" required="required" class="form-control visual-editor" placeholder="Contenu du message"></textarea>
          </p>
        </fieldset>
        <p class="action">
          <button type="submit" name="submit" id="submit" class="round-btn fill-btn reply-btn">Répondre</button>
        </p>
        <input id="project_appli_message__token" name="project_appli_message[_token]" value="QLBONFPZNuTwpwnc796Da243rNvGJjkEQ35wQ5sIc7E" type="hidden">
      </form>
    </div>
    <p class="back-header"><a href="#page-header">Retour en<br>
      haut de page</a></p>
  </main>
  <footer class="footer">
    <div class="content-wrap clearfix">
      <p class="ml"> Formation continue  / 2015 <a href="mentions-legales">Mentions légales</a></p>
    </div>
  </footer>
</div>
<script src="javascript/jquery_005.js"></script> 
<script type="text/javascript" src="javascript/jquery.js"></script> 
<script type="text/javascript" src="javascript/jquery_002.js"></script> 
<script src="css/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="javascript/jquery-ui.js"></script> 
<script type="text/javascript" src="javascript/jquery_004.js"></script> <script type="text/javascript" src="css/select2.js"></script> 
<script type="text/javascript" src="javascript/jquery_003.js"></script> 
<script type="text/javascript" src="javascript/replace.js"></script> 
<script type="text/javascript" src="javascript/notification.js"></script> 
<script type="text/javascript" src="javascript/diary.js"></script> 
<script type="text/javascript" src="javascript/position.js"></script> 
<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>