<!DOCTYPE html>
<html class="no-js home ui-state-init" xml:lang="fr" lang="fr">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>Accueil - Reconversion Pro</title>
<link rel="icon" type="image/png" href="http://alternativespro.fr/bundles/projectpresentation/images/favicon-16x16.png?v1_0_0">
<link rel="apple-touch-icon" href="http://alternativespro.fr/bundles/projectpresentation/images/favicon-64x64.png?v1_0_0" sizes="64x64">
<meta name="viewport" content="initial-scale=1">
<link href="css/css.css" rel="stylesheet" type="text/css">
<link type="text/css" href="css/select2.css" rel="stylesheet">
<link rel="stylesheet" href="css/colorbox.css" type="text/css" media="all">
<link rel="stylesheet" href="css/main.css" type="text/css" media="all">
<link rel="stylesheet" href="css/cookiecuttr.css">
</head>

<body>
<div id="content">
  <header class="header" id="page-header">
    <div class="content-wrap">
      <h1 class="image-text home">Reconversion Pro</h1>
      <nav>
        <ul>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/notre-demarche">Notre démarche</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/les-etapes">Les étapes</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/temoignages">Témoignages</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/faq">FAQ</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/liens-utiles">Liens utiles</a></li>
          <li class="nav-item"><a class="round-btn" href="http://alternativespro.fr/contact">Contact</a></li>
          <li class="user-action"> <a href="http://alternativespro.fr/connexion" class="round-btn fill-btn">Connexion</a> </li>
        </ul>
      </nav>
    </div>
  </header>
  <nav class="subnav">
    <ul class="content-wrap">
      <li class="accueil ui-state-active"> <a href="/visiteur">Mon accueil</a> </li>
      <li class="library"> <a href="/visiteur/bibliotheque">Ma bibliothèque</a> </li>
      <li class="agenda"> <a href="/visiteur/agenda">Mon agenda</a> </li>
      <li class="messagerie"> <a href="/visiteur/messagerie/messages-recus">Ma messagerie <i>1</i></a> </li>
      <li class="notifications"> <a href="/visiteur/visiteur-notifications">Mes notifications <i>7</i></a> </li>
      <li class="personal"> <a href="/visiteur/informations-personnelles">Mes informations</a> </li>
    </ul>
  </nav>
  <main role="main" class="main">
    <div class="page-content">
      <div class="content-wrap notification-block">
        <table class="line-row full-block">
          <tbody>
            <tr id="notif43" class="new">
              <td><input class="checkNotif" value="43" type="checkbox"></td>
              <td> Jules TELLON </td>
              <td> Rendez-vous modifié.
                
                
                Votre conseiller a modifié votre rendez-vous du: 08-02-2016 à 15h </td>
              <td class="date"> 05 Feb.
                - 16h20 </td>
            </tr>
            <tr id="notif42" class="new">
              <td><input class="checkNotif" value="42" type="checkbox"></td>
              <td> Jules TELLON </td>
              <td> Document mis à jour
                
                
                TELLON Jules a mis à jour le document: Mes motivations </td>
              <td class="date"> 05 Feb.
                - 15h25 </td>
            </tr>
            <tr id="notif41" class="new">
              <td><input class="checkNotif" value="41" type="checkbox"></td>
              <td> Jules TELLON </td>
              <td> Document mis à jour
                
                
                TELLON Jules a mis à jour le document: Mes motivations </td>
              <td class="date"> 05 Feb.
                - 15h25 </td>
            </tr>
            <tr id="notif40" class="new">
              <td><input class="checkNotif" value="40" type="checkbox"></td>
              <td> Jules TELLON </td>
              <td> Téléchargement du document
                
                
                TELLON Jules a téléchargé le document: Mes motivations à 15:22 </td>
              <td class="date"> 05 Feb.
                - 15h22 </td>
            </tr>
            <tr id="notif38" class="new">
              <td><input class="checkNotif" value="38" type="checkbox"></td>
              <td> Jules TELLON </td>
              <td> Rendez-vous validé.
                
                
                Votre conseiller a validé votre rendez-vous du: 08-02-2016 à 12h </td>
              <td class="date"> 05 Feb.
                - 15h09 </td>
            </tr>
            <tr id="notif36" class="new">
              <td><input class="checkNotif" value="36" type="checkbox"></td>
              <td> Jules TELLON </td>
              <td> Rendez-vous en attente de validation.
                
                
                Votre rendez-vous du 08-02-2016 à 12h est en attente de validation par votre conseiller </td>
              <td class="date"> 05 Feb.
                - 15h07 </td>
            </tr>
            <tr id="notif35" class="read">
              <td><input class="checkNotif" value="35" type="checkbox"></td>
              <td> Jules TELLON </td>
              <td> Finalisation de l'inscription
                
                
                Vous avez finalisé votre inscription le: 05-02-2016 à 14:46 </td>
              <td class="date"> 05 Feb.
                - 14h46 </td>
            </tr>
            <tr id="notif34" class="new">
              <td><input class="checkNotif" value="34" type="checkbox"></td>
              <td> Jules TELLON </td>
              <td> Votre inscription.
                
                
                Vous avez créé un compte le 05-02-2016 à 14:33 </td>
              <td class="date"> 05 Feb.
                - 14h33 </td>
            </tr>
          </tbody>
        </table>
        <p>
          <input class="checkAll" onclick="checkAll()" type="checkbox">
          <button class="round-btn fill-btn" onclick="markAsRead()">Marquer comme lu</button>
        </p>
      </div>
      <div id="ajax-notification" style="display:none;"> <a href="/notifications/visiteur/marquer-comme-lu"></a> </div>
      <div class="list-pagination">
        <div class="content-wrap">
          <div class="page-block"> </div>
        </div>
      </div>
      <p class="back-header"><a href="#page-header">Retour en<br>
        haut de page</a></p>
    </div>
  </main>
  <footer class="footer">
    <div class="content-wrap clearfix">
      <p class="ml"> Formation continue  / 2015 <a href="mentions-legales">Mentions légales</a></p>
    </div>
  </footer>
</div>
<script src="javascript/jquery_005.js"></script> 
<script type="text/javascript" src="javascript/jquery.js"></script> 
<script type="text/javascript" src="javascript/jquery_002.js"></script> 
<script src="css/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="javascript/jquery-ui.js"></script> 
<script type="text/javascript" src="javascript/jquery_004.js"></script> <script type="text/javascript" src="css/select2.js"></script> 
<script type="text/javascript" src="javascript/jquery_003.js"></script> 
<script type="text/javascript" src="javascript/replace.js"></script> 
<script type="text/javascript" src="javascript/notification.js"></script> 
<script type="text/javascript" src="javascript/diary.js"></script> 
<script type="text/javascript" src="javascript/position.js"></script> 
<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>