body{
    padding-top: 100px;
}

.mail-menu{
    margin-bottom: 20px;
}

.mail-template{
    padding-top: 10px;
    padding-bottom: 10px;
}

.inscription-panel{
    border-radius: 10px;
    background-color: #4286f4;
    padding: 50px;
    color: white;
}

.header-maillist{
    text-align: center;
}

.intro-content{
    text-align: center;
    padding: 50px;
}

.temoignage{
    background-color:#f75959;
    padding: 50px;
    border-radius: 10px;
}

.temoignage-header{
    color: white;
}
.temoignage-content{
    padding-top: 20px;
}

.notification-template{
    padding: 20px;
    text-align: center;
}