{% extends '@GLHome/Message/mail.html.twig' %}

{% block mailcontent %}
    {% for message in messagesRecu %}

        <div class="row justify-content-center mail-template">
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-sm btn-block" href="{{ path('gl_home_showmail', {'id': message.id}) }}" >
                            <div class="col-sm-3">
                                <p>Auteur : {{ message.auteur }}</p>
                            </div>
                            <div class="col-sm-3 offset-md-1">
                                <p>Sujet : {{ message.sujet }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}