{% extends 'base.html.twig' %}


{% block content %}
    {% block mailmenu %}
        
        <div class="row justify-content-center mail-menu">

                <div class="col-sm-3">
                    <a class="btn btn-primary" href="{{ path('gl_home_sendmail') }}">Nouveau Message</a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-secondary" href="{{ path('gl_home_mailpage') }}">Boite de reception</a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-secondary" href="{{ path('gl_home_sendmailpage')}}">Messages envoyés</a>
                </div>
        </div>
    {% endblock %}
    {% block mailcontent %}
    {% endblock %}
{% endblock %}
