{% extends '@GLHome/Message/mail.html.twig' %}

{% block mailcontent %}

    <div class="row justify-content-center">
    <div class="col-12">
    {{ form(form) }}
    </div>
    </div>
{% endblock %}